.sobre {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 2rem 1rem 0;
   justify-content: center;
   position: relative;
}

.menu {
   padding: calc(var(--padding) / 2) 0;
   margin: 0 2rem 0 0;
   background-color: var(--color-white);
   border-radius: 0.5rem;
   box-shadow: 0 -5px 20px 0 var(--color-black-30);
   position: sticky;
   top: 2rem;
   
}

.indice{
   display: flex;
   white-space: nowrap;
   padding: calc(var(--padding) / 2) var(--padding);
   margin-top: -0.5em;
   margin-bottom: -0.5em; 
}

.text-link {
   color: var(--color-blue);
}
.text-link:hover {
   text-decoration: underline;
}

@media (max-width: 1024px) {
   .menu {
      display: none;
   }
   article {
      width: 300px;
    }
}

.link {
   display: flex;
   white-space: nowrap;
   padding: calc(var(--padding) / 2) var(--padding);
   margin-top: -0.5em;
   margin-bottom: -0.5em; 
}
.link:hover {
   color:#8AA5AA;
   font-weight: bold;
}
.iconRedes{
   display: flex;
   width: 300px;
   justify-content: space-around;
}
.conteudo {
   flex: 1;
   max-width: 80ch;
}

/*.conteudo article {
   box-sizing: border-box;
   background-color: var(--color-white);
   border-radius: 0.5rem;
   padding: 1.5rem;
   margin-bottom: 3.999rem;
   box-shadow: 0 -5px 20px 0 var(--color-black-30);
}*/

.conteudo h1 {
   font-size: var(--font-size-big);
   margin-bottom: 1.2rem;
   margin-top: 2rem;
}

.conteudo h2 {
   font-weight: 700;
   margin-bottom: 1rem;
}
.conteudo ul {
   display: flex;
   margin-bottom: 1.5rem;
   flex-wrap: wrap;
}

.conteudo .btn {
   background-color: hsl(204, 100%, 36%);
   color: var(--color-white);
   display: block;
   padding: 0.5rem 1rem;
   margin: 0 1rem 0.5rem 0;
   border-radius: 3px;
}

.conteudo .btn:hover {
   background-color: hsl(204, 100%, 26%);
}

.conteudo p {
   line-height: 1.333;
   margin-bottom: 1.333rem;
}
